RESEND_API_KEY=your_resend_api_key_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# GitHub
GITHUB_TOKEN=your_github_personal_access_token
GITHUB_REPO=Ram4316/ramjipatva_dev
GITHUB_BRANCH=master

# Admin
ADMIN_PASSWORD=your_admin_password
